*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
nav .list{
    display: none;
}
header{
    background-color: rgb(242, 242, 242);
}
nav h1{
    margin: 10px 0px 10px 11%;
}
nav{
    display: flex;
}
nav li{
    list-style: none;
    margin:15px 0px 10px 20px;
}
nav ul{
    display: flex;
    margin-left: 250px;
    width: 40%;
}
nav a{
    float: right;
    margin:15px 0px 10px 20px;
    color: black;
}
section{
    display: flex;
    margin: 2% 0%;
}
.section-Firstcolman, .article-Firstcolumn{
    width: 25%;
    margin: 0px 0px 0px 11%;
    padding: 0px 1%;
}
.section-Secondcolman, .section-thirdcolman{
    width: 15%;
    padding: 0% 1%;
}
.section-Firstcolman-First-image{
    width: 100%;
}
.section-Firstcolman-second-image{
    border-radius: 100%; 
    width: 11%; 
    margin: 10px 0px 0px 0px;
}
.section-Firstcolman-second-image, .section-Firstcolman h6{
     display: flex;
     float: left;
}
.section-Firstcolman p, .section-Secondcolman p, .section-thirdcolman p {
    margin: 20px 0%;
}
.section-Secondcolman, .section-thirdcolman{
    border-left: 2px solid rgb(242, 242, 242);
}
.section-Firstcolman h1{
    margin: 0px 0% 10px;
    font-size: 200%;
}
.section-Secondcolman h4,.section-thirdcolman h4{
    margin-bottom: 20px;
}
.section-fouthcolumn
{ 
    width: 15%;
   border: 2px solid rgb(242, 242, 242);
   margin: 0% 10% 12% 1%;
}
.section-fouthcolumn-row{
    border-top: 2px solid rgb(251, 251, 251);
}
.section-fouthcolumn-row{
    display: flex;
}
span{
    font-size: 350%;
    color: rgb(242, 242, 242);
}
.section-fouthcolumn h2{
    padding: 15px 30px;
}
.section-fouthcolumn p{
    padding: 14px;
}
.section-fouthcolumn h4{
    margin-top: 14px;
}
article{
    display: flex;
    background-color: rgb(25, 25, 25);
    padding: 40px 0;
    color: #424242;
}
article, .article-Firstcolumn a{
    color: rgb(161, 159, 159);
}
article h3{
    color: white;
    margin-bottom: 20px;
}
.article-Firstcolumn p{
    padding-bottom: 20px;
}
article li{
    margin-bottom: 15px;
}
.article-secondcolumn, .article-thirdcolumn{
    width: 10%;
    margin-right: 60px;
}
.article-Fourthcolumn
{
    width: 26%;
    margin-left: 1%;
}
.article-Fourthcolumn-image{
    padding: 4px 30px 4px 0px;
}
.article-Fourthcolumn-row
{
   display: flex;
   margin: 10px 0px;
}
footer{
    display: flex;
    background-color: black;
    color: rgb(161, 159, 159);
}
.Fotter-secondcolumn-ul{
    display: flex;
    padding-left: 400px;
}
.Fotter-Firstcolumn{
    padding: 30px 11%;
}
.Fotter-secondcolumn-ul li{
    border-radius: 100%;
    background-color: rgb(161, 159, 159);
    color: white;
    padding: 10px 10px;
    margin: 30px 10px;
}
